{# /etc/motd.j2 - Message of the Day (shown after login) #}
{% set border = "=" * 80 %}
{% set line = "-" * 80 %}



{{ border }}
                                    KEVIN HARVEY
                                   LAB ENVIRONMENT
{{ border }}

Security Notices:
{{ line }}
  ⓘ  DEVELOPMENT ENVIRONMENT - For development and testing

  • This system is for authorized use only
  • All sessions are logged and monitored
  • Any unauthorized access attempts will be investigated

{{ border }}