---
all:
  hosts:
    PRDBSTN:
      ansible_host: 192.168.1.184
      ansible_ssh_user: kevin
      ansible_become_password: "{{ linode_become_pass }}"
      ansible_ssh_private_key_file: ~/.ssh/prox_lab
      ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
    PRDCNT1:
      ansible_host: 192.168.1.200
      ansible_ssh_user: kevin
      ansible_become_password: "{{ linode_become_pass }}"
      ansible_ssh_private_key_file: ~/.ssh/prox_lab
      ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
    devwks1:
      ansible_host: 192.168.1.248
      ansible_ssh_user: kevin
      ansible_become_password: "{{ default_become_password }}"
      ansible_ssh_private_key_file: ~/.ssh/prox_lab
    sbxmc01:
      ansible_host: 192.168.1.31
      ansible_ssh_user: kevin
      ansible_become_password: "{{ default_become_password }}"
      ansible_ssh_private_key_file: ~/.ssh/prox_lab
kubernetes:
  hosts:
    PRDKUBCP1:
      ansible_host: 192.168.1.66
      ansible_ssh_user: kevin
      ansible_become_password: "{{ linode_become_pass }}"
      ansible_ssh_private_key_file: ~/.ssh/prox_lab
      ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
    PRDKUBW1:
      ansible_host: 192.168.1.4
      ansible_ssh_user: kevin
      ansible_become_password: "{{ linode_become_pass }}"
      ansible_ssh_private_key_file: ~/.ssh/prox_lab
      ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
