##################################################################
#                                                                #
#                           WELCOME                              #
#                                                                #
# This is a private Linux system. Certain activities are         #
# restricted. Please contact support with any questions          #
# or concerns.                                                   #
#                                                                #
##################################################################
