---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: www-site-content
  labels:
    app: webinfra
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: www-dav-lock
  labels:
    app: webinfra
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 128Mi